main {
  padding: 0 50px;
}
.infoImgs {
  border-radius: 5px;
  max-width:70%;
  display: flex;
  overflow: hidden;
  position: relative;
}
.infoImgs img {
  width:100%;
  margin:0 5px;
  border:1px solid #142850;
  cursor:pointer;
}
.imgCarousal {
  display: flex;
  height: 100%;
  width:100%;
  padding:5px;
}
.infoModal {
  display: none;
  position: fixed;
  justify-content: center;
  padding: 50px;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  min-width: 480px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
}
.screenshot:hover .tint {
  opacity: 0.5;
  color: rgb(251, 128, 65);
}
.exitModal {
  position: absolute;
  top: 75;
  right: 50;
  z-index: 6;
  font-size: 50px;
  color: #dae1e7;
  cursor: pointer;
}
.exitModal:hover {
  color: #00909e;
}
.exitModal:active {
  transform: Scale(0.8);
}
.modalTrigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-width: 800px;
  cursor: pointer;
}
.infoModal img {
  width: 80%;
  max-width: 1200px;
  padding-right: 50px;
  padding-left: 50px;
  z-index: 5;
}
.leftCarousalArrow,
.rightCarousalArrow {
  font-size: 35px;
  margin: 25px;
  transform: scale(1);
  transition: transform 0.1s;
  cursor:pointer;
}
.leftCarousalArrow:hover,
.rightCarousalArrow:hover {
  color: #00909e;
}
.leftCarousalArrow:active,
.rightCarousalArrow:active {
  transform: scale(0.75);
  transition: transform 0.1s;
}
.moveFromLeft {
  margin-left: 50px;
}
.infoScreenshots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.noTransition {
  transition: none !important;
}
