main{
    padding:0 50px;    
}
.infoImgs{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    width:900px;
    overflow:hidden;    
}
.infoImgs img{
    margin:5px;
    max-width:100%;
}
.imgCarousal{
    overflow:hidden;
    display:Flex;
    justify-content: center;
}
.infoModal{
    display:none;
    position:fixed;
    justify-content: center;
    padding:50px;
    align-items: center;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    min-width:480px;
    background-color: rgba(0,0,0,0.9);
    z-index:5;
}
.screenshot:hover .tint{
    opacity:0.5;
    color:rgb(251, 128, 65)
}
.exitModal{
    position:absolute;
    top:75;
    right:50;
    z-index:6;
    font-size:50px;
    color:#dae1e7;
    cursor:pointer;
}
.exitModal:hover{
    color:#00909e;
}
.exitModal:active{
    transform:Scale(0.8);
}
.modalTrigger{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    cursor:pointer;
}
.infoModal img{
    width:80%;
    max-width:1200px;
    padding-right:50px;
    padding-left:50px;
    z-index:5;
}
.leftCarousalArrow, .rightCarousalArrow{
    font-size:75px;
    transform:scale(1);
    transition:transform 0.1s;
}
.leftCarousalArrow:hover, .rightCarousalArrow:hover{
    color:#00909e;
}
.leftCarousalArrow:active, .rightCarousalArrow:active{
    transform:scale(0.75);
    transition:transform 0.1s;
}
.leftCarousalArrow{
    margin-right:15px;
}
.rightCarousalArrow{
    margin-left:15px;
}
.moveFromLeft{
    margin-left:50px;
}