@font-face {
    font-family: "Roboto-Regular";
    src: url("fonts/Roboto-Regular.ttf");
}    
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family:"Roboto-Regular";
  }
  .topContainer {
    height: 100vh;
    width: 100%;
  }
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter:grayscale(100%);
    z-index:1;
  }
  .topContent{
      display:flex;
      justify-content: center;
      position:relative;
      align-items: center;
      justify-content: center;
      z-index:2;
      height:100%;
      width:100%;
      color:white;
      text-align:Center;
  }
  nav {
    opacity:0.95;
    border-bottom:1px black solid;
    border-top: 1px black solid;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:3;
  }
  nav ul {
    grid-column-start: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    height: 50px;
    display: Flex;
    text-align: right;
    justify-content: flex-end;
    background-color: rgb(54, 54, 54);
  }
  
  nav ul li {
    display: inline;
    color: rgb(221, 221, 253);
    text-align: Center;
    padding: 5px;
    margin-right: 15px;
    transition: color 0.5s, border-bottom 0.5s;
  }
  nav ul li a{
      color:rgb(221, 221, 253);
  }
  nav ul li:hover {
    color: rgb(158, 158, 255);
    transition: color 0.5s, border-bottom 0.5s;
    cursor: pointer;
  }

  .mainContainer{
      width:1200px;
      margin:0 auto;
      text-align:center;
      font-size:1.25rem;
  }

  .workContainer{
    display:Grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px;
  }
  .projectContainer{
    position:relative;
    margin:10px;
    border-radius:25px;
    overflow:hidden;
  }
  .projectContainer img{
    position:absolute;
    height:100%;
    left:-25px;
    top:0;
    opacity:.5;
    transition:opacity 0.3s;
  }
  .projectContainer:hover img{
    opacity:0;
    transition:opacity 0.3s;
  }
  .projectContainer:hover .projectHeader{
    top:10;
    font-size:2rem;
    transition:top 0.3s, font-size 0.3s;
  }
  .projectContainer:hover .projectContent{
    opacity:1;
    color:white;
  }
  .projectHeader{
    position:absolute;
    width:100%;
    text-align: center;
    margin:0;
    top:140px;
    z-index:2;
    color:white;
    transition:top 0.3s, font-size 0.3s;
  }
  .projectContent{
    opacity:1;
    margin-top:25%;
    width:100%;

  }
  #about p, .projectContent p{
    text-align:left;
  }
  #jmtint{
    background:rgb(251,128,65);
  }
  #bbtint{
    background:rgb(83,46,99);
  }
  #sampleTint{
    background:rgb(26, 49, 100);
  }
  .buttonContainer{
    display:Grid;
    width:100%;
    grid-template-columns: 50px 50px;
  }
  .siteButton, .infoButton{
    background-color:white;
  }
.inner{
  position:relative;
  height:100%;
  width:100%;
}
.innerText{
  display:flex;
  width:100%;
  height:100%;  
  position:absolute;
  top:0;
  left:0;
  justify-content: center;
  align-items: center;
}
#arrowContainer{
  width:100%;
  height:100%;
  display:Flex;
  position:absolute;
  top:0;
  left:0;
  justify-content: center;
  align-items:flex-end;
}
.scrollArrow{
  font-size:4rem;
  transition:all 1.5s, color 0.5s;
  cursor:pointer;
  margin-bottom:50px;
}
.scrollArrowAnimation{
  font-size:5rem;
  transition:all 1.5s, color 0.5s;
}
.scrollArrow:hover{
  color:rgb(114, 35, 35);
  transition:all 1.5s, color 0.5s;
}