@font-face {
  font-family: "Roboto-Regular";
  src: url("fonts/Roboto-Regular.ttf");
}
* {
  box-sizing: Border-box;
}
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}
::selection {
  background: #00909e; /* WebKit/Blink Browsers */
  color: white;
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto-Regular";
  background-color: #dae1e7;
  color: #142850;
}
.anchor {
  height: 50px;
}
section h1 {
  font-size: 2rem;
}
section p {
  font-size: 1.25rem;
}
.topContainer {
  margin: 0 auto;
  width: 800px;
  padding-bottom: -200px;
}
.topContainer h1 {
  text-align: left;
}
nav {
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.initializeNav {
  transform: translate(0, -200px);
}
.initializeButtons {
  opacity: 0;
  transform: translate(0, -200px);
}
nav ul {
  position: fixed;
  z-index: 3;
  background-color: #142850;
  grid-column-start: 2;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  height: 50px;
  display: Flex;
  text-align: right;
  justify-content: flex-end;
  transition: transform 0.5s;
}

nav ul li {
  color: #f9f7f7;
  text-align: Center;
  padding: 5px;
  margin-right: 15px;
  transition: color 0.25s, opacity 0.5s, transform 0.5s;
}
nav ul li a {
  color: #f9f7f7;
  transition: color 0.5s;
}
nav ul li:hover,
nav ul li a:hover {
  color: #00909e;
  transition: color 0.25s;
  cursor: pointer;
}
.mobileNav {
  display: none;
}
@keyframes shake {
  0% {
    transform: translate(-2px);
  }
  10% {
    transform: translate(0px);
  }
  20% {
    transform: translate(2px);
  }
  30% {
    transform: translate(0px);
  }
  40% {
    transform: translate(-2px);
  }
  50% {
    transform: translate(0px);
  }
  60% {
    transform: translate(2px);
  }
  70% {
    transform: translate(0px);
  }
  80% {
    transform: translate(-2px);
  }
  90% {
    transform: translate(0px);
  }
  100% {
    transform: translate(2px);
  }
  110% {
    transform: translate(0px);
  }
}
.nowShaky,
.nowShaky a {
  animation: shake;
  animation-duration: 0.5s;
  transform-origin: 50% 50%;
  color: #00909e;
}
main {
  width: 100%;
  max-width: 1400px;
  min-height: 100vh;
  counter-reset: section 0;
  padding: 0 150px;
  margin: 0px auto;
}
#test {
  height: 200px;
}
.projectContainer {
  display: grid;
  grid-template-rows: 50px 190px 40px;
  grid-template-columns: 280px;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  height: 300px;
  margin: 5px;
  padding: 10px;
}
.projectContainer img {
  position: absolute;
  height: 100%;
  left: -25px;
  top: 0;
  opacity: 0.5;
  transition: opacity 0.3s;
}
.projectContainer:hover img {
  opacity: 0;
  transition: opacity 0.3s;
}
.projectContainer:hover .projectHeader {
  top: 20;
  font-size: 1.5rem;
  transition: top 0.3s, font-size 0.3s;
}
.projectContainer:hover .projectContent {
  opacity: 1;
  color: white;
  transition: opacity 0.5s;
}
.projectContainer:hover .buttonContainer {
  opacity: 1;
  transition: opacity 0.3s;
}
.projectHeader {
  position: absolute;
  margin: 0 auto;
  top: 140px;
  width: 280px;
  text-align: center;
  font-size: 1.75rem;
  z-index: 2;
  color: white;
  transition: top 0.3s, font-size 0.3s;
}
.projectContent {
  display: grid;
  grid-template-rows: 160px 30px;
  opacity: 0;
}
.projectContent p {
  margin: 0;
  font-size: 0.9rem;
}
.workContainer {
  display: flex;
  margin-bottom: 50px;
}
.workTitle {
  border-right: 1px solid #142850;
}
.workTitle p {
  font-size: 1rem;
  width: 100px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left: 10px;
}
#projects h2 {
  margin-top: 0;
  margin-bottom: 50px;
}
#intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px auto;
  padding-top: 150px;
  padding-bottom: 100px;
}
.introSummary {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 35px;
}
#intro h1 {
  font-size: 3rem;
  margin: 0;
}
.introTitle {
  font-size: 3rem;
  margin: 10px 0;
}
#intro p,
.projectContent p {
  text-align: left;
}
#jmtint {
  background: rgb(251, 128, 65);
}
#bbtint {
  background: rgb(83, 46, 99);
}
#sampleTint {
  background: rgb(26, 49, 100);
}
.buttonContainer {
  display: grid;
  justify-items: bottom;
  opacity: 0;
  grid-template-columns: 90px 100px 90px;
  grid-template-rows: 40px;
}
.buttonContainer a:nth-child(1) {
  grid-column-start: 1;
}
.buttonContainer a:nth-child(2) {
  grid-column-start: 3;
}
.buttonContainer a:nth-child(1),
.buttonContainer a:nth-child(2)  {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color:#00909e;
}
.buttonContainer a:nth-child(1):hover,
.buttonContainer a:nth-child(2):hover {
  background-color: #00909e;
  color: #f9f7f7;
}
.name {
  color: #142850;
  transition: color 3s;
}
.nameGreen {
  color: #00909e;
  transition: color 3s;
}
.show,
.introTitle,
.introSummary {
  opacity: 1;
  transition: transform 1.5s, opacity 1.5s;
}
.hidden,
.hiddenIntro {
  transform: translate(0, 200px);
  opacity: 0;
  transition: transform 1.5s, opacity 1.5s;
}
#contact {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
form {
  margin: 0 auto;
  max-width: 800px;
}
form p {
  margin: 50px 0;
  font-size: 1.25rem;
}
#submit {
  margin: 0 auto;
  border: 1px solid #00909e;
  height: 50px;
  width: 150px;
  font-size: 1.5rem;
  color: #dae1e7;
  background-color: #142850;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}
#submit:hover {
  background-color: #00909e;
  color: #dae1e7;
  transition: color 0.3s, background-color 0.3s;
}
#aboutContent {
  display: flex;
  min-width: 100%;
}
#aboutContent img {
  width: 250px;
  height: 250px;
}
#aboutContent p {
  margin: 0;
  margin-right: 15px;
}
#resume {
  text-align: center;
  font-size: 4rem;
  color: #142850;
  transition: transform 1.5s, opacity 1.5s;
}
#resume a {
  color: #142850;
  transition: color 0.3s;
}
#resume a:hover {
  color: #00909e;
  transition: color 0.3s;
}
.infoTop {
  text-align: center;
  padding: 150px 0;
  margin: 0 150px;
}
.infoTop h1 {
  margin: 0;
}
.infoTop hr {
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.infoTop p {
  margin: 0;
}
.mobileHam {
  display: None;
  z-index:4;
}
@media all and (min-width: 1024px) and (max-width: 1280px) {
}

@media all and (max-width: 44445663) {
  h1 {
    text-align: center;
  }
  .workContainer {
    flex-direction: column;
  }
  .workTitle {
    border: 0;
    border-bottom: 1px solid #142850;
  }
  .workTitle p {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .projects {
    justify-content: center;
    margin: 0;
    margin-top: 25px;
  }
  .projectContainer {
    margin-top: 25px;
  }
}

@media screen and (max-width:1080px) {
  main {
    padding: 0 80px;
  }
  #aboutContent {
    flex-direction: column;
  }
  #aboutContent img {
    margin: 100px auto;
    width:600px;
    height:600px;
  }
  .workContainer {
    flex-direction: column;
  }
  .workTitle {
    border: 0;
    border-bottom: 1px solid #142850;
  }
  .workTitle p {
    width:unset;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .projects {
    flex-direction:column;
    width:100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 25px;
  }
  .projectContainer {
    display: grid;
    grid-template-rows: 100px 400px 100px;
    grid-template-columns: 580px;
    margin-top: 25px;
    width:600px;
    height:600px;
  }
  .projectContainer:hover .projectHeader{
    font-size:3rem;
    width:100%;
  }
  .projectContent{
    grid-template-rows:350px 50px;
  }
  .projectContent p{
    font-size:2rem;
  }
  .projectContainer 
  form p {
    text-align: left;
  }
  .projectHeader{
    font-size: 3.5rem;
    top:280;
    width:580px;
  }
  .buttonContainer{
    grid-template-columns: 200px 180px 200px;
    grid-template-rows: 80px;
    font-size:2.8rem;
  }
  .desktopNav {
    display: none;
  }
  .mobileNav {
    position: fixed;
    font-size:3rem;
    width: 100%;
    display: flex;
    color: #dae1e7;
    background-color: #142850;
    height: 150px;
    z-index: 5;
  }
  #leftNav {
    display: flex;
    justify-content: left;
    position: static;
    width: 100%;
    height:100%;
    z-index: 4;
  }
  #leftNav li{
    padding-left: 25px;
  }
  #rightNav {
    font-size: 4rem;
    display: flex;
    justify-content: center;;
    margin-right:25px;
    align-items: center;
    transition: transform 0.1s;
    cursor: pointer;
    z-index: 4;
    background-color: #142850;
  }
  #rightNav:hover {
    color: #00909e;
  }

  .hamNav {
    border-top: 5px solid white;
    position: fixed;
    top: -350px;
    margin: 0;
    height: 450px;
    display: flex;
    flex-direction: column;
    z-index: 5;
    transition: top 0.5s;
  }
  .activeHam {
    z-index:6;
    top: 150px;
    transition: top 0.5s;
  }
  #rightNav:active {
    transform: scale(0.8);
    transition: transform 0.1s;
  }
  .hamNav li {
    display: flex;
    font-size:4rem;
    width: 100%;
    height:150px;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #00909e;
    border-bottom:5px solid #142850;
  }
  .hamNav li a {
    width: 100%;
    text-decoration:none;
  }
  .hamNav li a:hover {
    color: white;
  }
  .hamNav li:hover {
    background-color: #142850;
  }
  .mobileHam {
    display: block;
    position:fixed;
    top:0;
    height:300px;
  }
  #resume a i{
    font-size:100px;
  }.anchor{
    height:150px;
  }
  .infoContent, h1{
    padding:0 50px;
  }
}

@media screen and (max-width: 720px) {
  main {
    min-width: 480px;
  }
  .hamNav li{
    font-size:2.5rem;
  }
}
